.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px 3px;
    cursor: pointer;
    background-color: rgb(83, 83, 247);
    border-radius: 5px;
    box-shadow: 3px 5px #999;
}

.cal-button>.btn {
    max-width: 60px;
}

.btn:hover {
    background-color: rgb(30, 30, 235);
}

.btn:active {
    background-color: darkblue;
    box-shadow: 1px 2px #999;
    transform: translateY(1px) translateX(2px);
}

.numberpad {
    background-color: rgb(83, 83, 247);
}

.numberpad:hover {
    background-color: rgb(30, 30, 235);
}

.numberpad:active {
    background-color: darkblue;
    box-shadow: 1px 2px #999;
    transform: translateY(1px) translateX(2px);
}

.symbles {
    background-color: rgb(197, 49, 49);
}

.symbles:hover {
    background-color: rgb(138, 2, 2);
}

.symbles:active {
    background-color: rgb(51, 9, 9);
    box-shadow: 1px 2px #999;
    transform: translateY(1px) translateX(2px);
}

.controls {
    background-color: rgb(216, 179, 130);
}

.controls:hover {
    background-color: rgb(139, 105, 60);
}

.controls:active {
    background-color: rgb(68, 45, 15);
    box-shadow: 1px 2px #999;
    transform: translateY(1px) translateX(2px);
}